@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Russo+One&display=swap');

:root {
    /* define the color of palette */
    --mainBlack: #1A1A1A;
    --greenColor: #0B3D0B;
    --darkGray: #3B3B3B;
    --softGray: #f5f5f5;
    --goldColor: #B8860B;
}
html { font-size: 14px; background: var(--mainBlack); color: white; font-family: "Russo One", sans-serif; }
.container { width: 90%; }
@media (min-width: 2048px) { html { font-size: 24px; } }
@media (min-width: 1280px) { .container { width: 95%;} }
@media (max-width: 1024px) { .container { width: 100%; padding: 1rem; } }
@media (max-width: 640px) { html { font-size: 12px; } .container { padding: .5rem; } }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.check { border: 1px solid red; }
.background { background: url("../images/fc25-authenticity.jpg"); }
.hover-effect img {
    @apply  hover:scale-110 transition-all delay-100 ease-in-out;
}