@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* define the color of palette */
    --mainBlack: #1A1A1A;
    --greenColor: #0B3D0B;
    --darkGray: #3B3B3B;
    --softGray: #f5f5f5;
    --goldColor: #B8860B;
}
